*
{
	margin: 0;
	padding: ;
	font-family: Century Gothic;
	color:#fff;
	text-decoration:none;
	transition:0.5s ease;
}
.title
{
	position: absolute;
	top: 2.9%;
	left: 50%;
	width: 100%;
	transform: translate(-50%,-50%);
	background-color: #8A0808;
	text-decoration:none;
	transition:0.5s ease;
}
.title h1
{
	color: #fff;
	text-decoration:none;
	transition:0.5s ease;
}
.title2
{
	position: absolute;
	top: 17%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20px;
}
.para
{
	position: absolute;
	top: 38.5%;
	left: 38.7%;
	transform: translate(-50%,-50%);
}
.games2
{
	position: absolute;
	top: 25%;
	left: 27.1%;
	transform: translate(-50%,-50%);
}
.games2 b{
	font-size: 20px;
}
.games
{
	position: absolute;
	top: 20%;
	left: 10.3%;
	transform: translate(-50%,-50%);
}
.games b
{
	font-size: 20px;
}
.para1
{
	position: absolute;
	top: 57%;
	left: 25%;
	transform: translate(-50%,-50%);
}
.para1 b i
{
	font-size: 20px;
}
.para2
{
	position: absolute;
	top: 70%;
	left: 38.6%;
	transform: translate(-50%,-50%);
}
.para2 b
{
	font-size: 20px;
}
.btn1
{
	position: absolute;
	top: 53%;
	left: 11%;
	transform: translate(-50%,-50%);
}
.btn1 a{
	color: #000;
}
.btn2
{
	position: absolute;
	top: 80%;
	left: 11%;
	transform: translate(-50%,-50%);
}
.btn2 a{
	color: #000;
}
.video
{
	position: absolute;
	top: 112%;
	left: 24.2%;
	transform: translate(-50%,-50%);
}
.video2
{
	position: absolute;
	top: 111.6%;
	left: 70%;
	transform: translate(-50%,-50%);
}
.dis
{
	position: absolute;
	top: 91%;
	left: 46%;
	transform: translate(-50%,-50%);
}
